* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#resultadoConexao {
    color: #f00;
    text-shadow: 0 0 3px rgb(234, 239, 232), 0 0 5px white;
    position: fixed;
    top: 0;
    right: 0;
    margin: 5px;
    background-color: black;
    padding: 8px;
    border-radius: 10px;
}

header {
    background-color: rgb(60, 255, 53);
    display: flex;
    align-items: center;
    height: 80px;
    padding: 6px;
}

ul {
    display: flex;
    gap: 30px;
    list-style: none;
    align-items: center;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    text-align: center;
}

.menuLateral {
    position: relative;
    font-weight: bold;
    text-decoration: none;
}

.menuLateral:hover {
    color: rgb(29, 29, 29);
    text-shadow: 2px 2px white;
}

#logo {
    width: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
}

#grafico {
    height: 500px;
    width: 800px;
    display: block;
    margin: 0 auto;
}